	<!-- Footer -->
    <footer id="footer">
        <ul class="icons">
           <li><a href="http://uk.linkedin.com/in/ssakounthong" class="icon circle fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
           <li><a href="https://github.com/somme" class="icon circle fa-github" target="_blank"><span class="label">Github</span></a></li>
        </ul> 
        <span class="copyright">Dragon Drop Limited - Freelance UX design &amp; development consultancy.<br />Registered in England and Wales. Company Number 9420883.<br />Registered office: 63 Birchwood Avenue, Sidcup, Kent DA14 4JZ.<br />&copy; Dragon Drop Limited 2015.</span>
    </footer>