	<!-- Footer -->
    <footer id="footer">
        <ul class="icons">
          <li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
          <li><a href="#" class="icon circle fa-linkedin"><span class="label">Linkedin</span></a></li>
        </ul> 
        <span class="copyright">&copy; Dragon Drop Limited 2015</span>
    </footer>