	<!-- Footer -->
  <footer id="footer">
      <ul class="icons">
         <li><a href="http://uk.linkedin.com/in/ssakounthong" class="icon circle fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
         <li><a href="https://github.com/somme" class="icon circle fa-github" target="_blank"><span class="label">Github</span></a></li>
      </ul> 

      <div class="row">
        <span class="copyright">
          Dragon Drop Limited - Freelance UX design &amp; development consultancy. 
          Registered in England and Wales. Company Number 9420883.
          Registered office: 63 Birchwood Avenue, Sidcup, Kent DA14 4JZ.
          &copy; Dragon Drop Limited 2015.
        </span>              
      </div> 
  </footer>

 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59785273-1', 'auto');
  ga('send', 'pageview');

</script>