		<!-- Header article -->
			<header id="header" class="reveal">
				<h1 id="logo"><a href="index.html">dragondrop</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="#" onclick="window.history.back();return false;"><i class="icon fa-arrow-left"></i> Back</a></li>
					</ul>
				</nav>
			</header>