	<!-- Footer -->
  <footer id="footer" style="margin-top: 20px">
      <ul class="icons">
         <li><a href="http://uk.linkedin.com/in/ssakounthong" class="icon circle fab fa-linkedin" target="_blank" aria-label="Read more about about me on Linkedin"><span class="label">Linkedin</span></a></li>
         <li><a href="https://github.com/somme" class="icon circle fab fa-github" target="_blank" aria-label="Github account"><span class="label">Github</span></a></li>
      </ul>

      <div class="row center">
        <span class="copyright">
          Dragon Drop Limited - User experience design &amp; development consultancy.<br />
          Registered in England and Wales. Company Number 9420883.<br />
          Registered office: F25 Waterfront Studios, 1 Dock Road, London, United Kingdom, E16 1AH.<br />
          &copy; Dragon Drop Limited 2023.
        </span>
      </div>
  </footer>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.dropotron.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-layers.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/form.js"></script>
