<div class="row">
  <div class="6u">
    <section class="portfolio-item">
      <a href="/casestudy/appvia" class="image feature portfolio-link">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/sample_HUB.jpg" alt="Appvia Hub sample"></a>
      <header>
        <h3><a href="/casestudy/appvia">Appvia Kore prototypes</a></h3>
      </header>

      <p>Appvia were trying to solve costs, resources and management issues around their clients deployment infrastructure.
      I prototyped user journeys/concepts for their opensource product, Kore (previously called Hub) in their early stages of alpha.
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> Balsaimq, HTML, Javascript, CSS, React, Next.js, Ant Design, Node.js.</p>
      <p><a href="/casestudy/appvia" class="button special">View casestudy</a></p>
    </section>
  </div>
  <div class="6u">
    <section class="portfolio-item">
      <a href="https://www.gov.uk/log-in-register-hmrc-online-services" class="image feature portfolio-link" target="_blank">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/sample_HMRC.jpg" alt="HMRC sample image"></a>
      <header>
        <h3><a href="https://www.gov.uk/log-in-register-hmrc-online-services" target="_blank">HMRC Agent services</a></h3>
      </header>
      <p>As a Senior Frontend Dev in a multidisciplinary Agile team, I helped build and maintain various HMRC digital services as part of Government wide digital transformation initiative.
        <a href="https://github.com/hmrc/agent-services-account-frontend" target="_blank">agent-services-account-frontend</a>,
        <a href="https://github.com/hmrc/agent-invitations-frontend" target="_blank">agent-invitations-frontend</a>,
        <a href="https://github.com/hmrc/agent-subscription-frontend" target="_blank">agent-subscription-frontend</a>,
        <a href="https://github.com/hmrc/agent-client-management-frontend" target="_blank">agent-client-management-frontend</a>.
      </p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> HTML, Javascript, CSS, Play2 Framework, Scala, Twirl.</p>
    </section>
  </div>
</div>

<div class="row">
  <div class="6u">
    <section class="portfolio-item">
      <a href="https://www.gov.uk/correct-your-business-rates" class="image feature portfolio-link" target="_blank">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/sample_VOA.jpg" alt="VOA samle image"></a>
      <header>
        <h3><a href="https://www.gov.uk/correct-your-business-rates" target="_blank">VOA Business Rates</a></h3>
      </header>
      <p>I worked on various frontend microservices for VOA Business Rates as a Senior Frontend Dev in an Agile team.
        <a href="https://github.com/hmrc/voa-property-linking-frontend" target="_blank">voa-property-linking-frontend</a>,
        <a href="https://github.com/hmrc/valuation-office-agency-contact-frontend" target="_blank">valuation-office-agency-contact-frontend</a>
      </p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> HTML, Javascript, CSS, Play2 Framework, Scala.</p>
    </section>
  </div>
  <div class="6u">
    <section class="portfolio-item">
      <a href="https://terrorismlegislationreviewer.independent.gov.uk/" class="image feature portfolio-link" target="_blank">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/img-itrl.jpg" alt="independent terrorism legislation reviewer sample image"></a>
      <header>
        <h3><a href="https://terrorismlegislationreviewer.independent.gov.uk/" target="_blank">Independent Reviewer of Terrorism Legislation</a></h3>
      </header>
      <p>This was a custom built wordpress theme for Independent Reviewer of Terrorism Legislation site.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> Wordpress, Javascript, Bootstrap, PHP, HTML.</p>
    </section>
  </div>
</div>

<div class="row">
  <div class="6u">
    <section class="portfolio-item">
      <a href="https://www.gov.uk/registered-traveller" class="image feature portfolio-link" target="_blank">
       <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/sample_4.jpg" alt="Registered traveller sample image"></a>
      <header>
        <h3><a href="https://www.gov.uk/registered-traveller" target="_blank">Registered Traveller</a></h3>
      </header>
      <p>This project is part the <a href="https://www.gov.uk/transformation" target="_blank">Governments digital transformation</a>.
      It's all about building simpler, clearer and faster to use services. On this project I was lead UX designer and frontend dev. The application consists of a public front end and caseworking system used by Border Force officers.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> Jquery, Node, Express, Bootstrap, HTML5.</p>
    </section>
  </div>
  <div class="6u">
    <section class="portfolio-item">
      <a href="https://dbs-ub-directory.homeoffice.gov.uk/" class="image feature portfolio-link" target="_blank">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/sample_3.jpg" alt="The HOme Office sample image"></a>
      <header>
        <h3><a href="https://dbs-ub-directory.homeoffice.gov.uk/" target="_blank">DBS umbrella bodies</a></h3>
      </header>
      <p>I was lead UX designer on this project for Disclosure and Barring Service. The service consists of an umbrella bodies search, company registration and admin system. The project was one of many services migrated to a new government cloud based platform.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> Foundation, Javascript, PHP, HTML.</p>
    </section>
  </div>
</div>

<div class="row">

  <div class="6u">
    <section class="portfolio-item">
      <a href="http://uk.themindgym.com/home/" class="image feature portfolio-link" target="_blank">
       <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/sample_1.jpg" alt="the mind gym sample image">
      </a>
      <header>
        <h3><a href="http://uk.themindgym.com/home/" target="_blank">Mind Gym</a></h3>
      </header>
      <p>Another Wordpress project for Mind Gym.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> HTML5, Wordpress, Javascript.</p>
    </section>
  </div>
  <div class="6u">
    <section class="portfolio-item">
      <a href="http://www.nightingalehospital.co.uk/" class="image feature portfolio-link" target="_blank">
        <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/sample_2.jpg" alt="nightingale hospital sample image">
      </a>
      <header>
        <h3><a href="http://www.nightingalehospital.co.uk/" target="_blank">Capio Nightingale</a></h3>
      </header>
      <p>Another Wordpress project for Capio Nightingale.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i> HTML5, Wordpress, Javascript.</p>
    </section>
  </div>
</div>

<div class="row">


  <div class="6u">
      <section class="portfolio-item">
      <a href="https://www.youtube.com/watch?v=5rNyd2OaezU" class="image feature portfolio-link" target="_blank">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/img-google.jpg" alt="Google sample image"></a>
      <header>
        <h3><a href="https://www.youtube.com/watch?v=5rNyd2OaezU" target="_blank">Google Infographic Video</a></h3>
      </header>
      <p>This was a two and a half minute video infographic for Google's 100% Web Cloud Computing campaign.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i>  Flash, After Effects, Sound editing, Illustrator.</p>
    </section>
  </div>

  <div class="6u">
    <section class="portfolio-item">
      <a href="http://www.cnetdirectintl.com/direct/uk/2009/oracle/q2/crm/crm_ebook/index.htm" class="image feature portfolio-link" target="_blank">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/img-oracle-ebook.jpg" alt="oracle ebook sample image">
      </a>
      <header>
        <h3><a href="http://www.cnetdirectintl.com/direct/uk/2009/oracle/q2/crm/crm_ebook/index.htm" target="_blank">Oracle ebook</a></h3>
      </header>
    </section>
    <p>This <a href="http://www.cnetdirectintl.com/direct/uk/2009/oracle/q2/crm/crm_ebook/index.htm" target="_blank">flash eBook</a> was for an Oracle CRM campaign which was used to generate leads. I used a page peel effect to make it more engaging and interactive to the user. I also created a templated process that could be used by others without previous flash experience.</p>
    <p class="sample-sub"><i class="icon fa fa-wrench"></i>  Flash, Actionscript, HTML.</p>
  </div>
</div>


<div class="row">
  <div class="6u">
    <section class="portfolio-item">
      <a href="/allen-road" class="image feature portfolio-link">
      <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/img-allen.jpg" alt="Allen Road sample image"></a>
      <header>
        <h3><a href="/allen-road">The Allen Road Project</a></h3>
      </header>
      <p>In 1972 Richard Scott photographed the whole length of the north side of <a href="https://www.google.co.uk/maps/@51.5554212,-0.0819993,3a,75y,71.91h,89.38t/data=!3m7!1e1!3m5!1sMm8exxDXJC_tapUGzx91wQ!2e0!6s%2F%2Fgeo3.ggpht.com%2Fcbk%3Fpanoid%3DMm8exxDXJC_tapUGzx91wQ%26output%3Dthumbnail%26cb_client%3Dmaps_sv.tactile.gps%26thumb%3D2%26w%3D203%26h%3D100%26yaw%3D29.888071%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192" target="_blank">Allen Road</a>, N16 London. I was commissioned to digitally re-constructed the vintage photographs and create a complete panorama of the whole street and was once exhibited at the <a href="https://hackney.gov.uk/museum" target="_blank">Hackney Museum</a>.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i>  Photoshop.</p>
    </section>
  </div>
  <div class="6u">
    <section class="portfolio-item">
      <a href="/hadouken-hero" class="image feature portfolio-link">
     <div class="portfolio-hover">
        <div class="portfolio-hover-content">
          <i class="fa fa-search-plus fa-3x"></i>
        </div>
      </div>
      <img src="images/img-hadouken.jpg" alt="hadouken hero sample image"></a>
      <header>
        <h3><a href="/hadouken-hero" >Hadouken Hero</a></h3>
      </header>
      <p>This was my Hackday entry, a competition open to CBS employees across the world. The brief was to create something cool using HTML5 and Canvas in 2 hours. I decided to build a prototype game for <a href="http://www.gamespot.com/" target="_blank">Gamespot</a> using the editor as the main character. Even though it wasn't finished and I didn't win it was fun doing it.</p>
      <p class="sample-sub"><i class="icon fa fa-wrench"></i>  HTML 5, Canvas, JQuery, Javascript.</p>
    </section>
  </div>
</div>
