<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <%- include('../partials/meta'); -%>
        <%- include('../partials/scripts'); -%>
    </head>

  <body>

  <%- include('../partials/header'); -%>

  <p style="color:blue">hadouken</p>
  
  <%- include('../partials/footer'); -%>


</body>
</html>
