<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta'); -%>
    <%- include('../partials/scripts'); -%>
  </head>

<body class="index loading">

		<%- include('../partials/header-article'); -%>

    <section id="banner" style="margin-bottom: 20px">
      <div class="inner">
        <header>
          <h2>Feedback Analysis Tool</h2>
        </header>
        <p>Casestudy</p>
      </div>
    </section>

        <section class="wrapper style4 container">
          <div class="row oneandhalf">
            <div class="12u">

                <div class="content">
                  <section>

                    <h3>The Challenge</h3>
                    <p>
                      GDS aimed to address a persistent challenge: the need for rapid analysis of user feedback without sacrificing precision and accuracy.
                    </p>

                    <h3>The solution</h3>
                    <p>
                      Design a AI-powered feedback analysis tool that efficiently categorises and organises data into an intuitive and user-friendly interface.
                    </p>

                    <h3>The process</h3>

                    <div class="row">
                      <div class="3u">
                        <section class="special">
                          <i class="icon feature fas fa-microscope"></i>
                          <h3>Research</h3>
                            <ul class="font-normal">
                              <li>How AI can help</li>
                              <li>User interviews</li>
                              <li>Data analysis</li>
                            </ul>
                        </section>
                      </div>
                      <div class="3u">
                        <section class="special">
                          <span class="icon feature fas fa-pencil-ruler"></span>
                          <h3>Define</h3>
                            <ul class="font-normal">
                              <li>Problem statement</li>
                              <li>User needs</li>
                              <li>User journeys</li>
                            </ul>
                        </section>
                      </div>
                      <div class="3u">
                        <section class="special">
                          <span class="icon feature fas fa-drafting-compass"></span>
                          <h3>Design</h3>
                            <ul class="font-normal">
                              <li>Figma designs and clickable prototypes</li>
                            </ul>
                        </section>
                      </div>
                      <div class="3u">
                        <section class="special">
                          <span class="icon feature fas fa-vials"></span>
                          <h3>Test</h3>
                            <ul class="font-normal">
                              <li>Usability tests</li>
                              <li>Iterate and re-test</li>
                            </ul>
                        </section>
                      </div>
                    </div>

                    <header class="special">
                      <span class="icon fas fa-microscope"></span>
                      <h2>Research</h2>
                    </header>

                    <div class="row">
                      <div class="3u">
                        <h3>Method</h3>
                      </div>
                      <div class="9u">
                        <h3>Discoveries</h3>
                      </div>
                    </div>

                    <div class="row">
                      <div class="3u">
                        <h4>How AI can help</h4>
                      </div>
                      <div class="9u">
                        <p>Amidst the growing excitement and interest in AI, I embarked on a research journey to understand its capabilities, specifically focusing on how it could be applied to our particular use case.</p>
                        <ul class="bullets">
                          <li>Utilising Natural Language Processing, we can effectively categorise and extract the underlying intent from feedback data, enhancing our understanding and response to user inputs</li>
                          <li>Implementing AI-driven solutions can often involve significant financial investment</li>
                          <li>When appropriately utilised, an AI-driven solution can be extremely beneficial and effective</li>
                          <li>Also useful for working out sentiment, intent and removing spam from user input</li>
                        </ul>
                      </div>
                    </div>

                    <div class="row">
                      <div class="3u">
                        <h4>User interviews</h4>
                      </div>
                      <div class="9u">
                        <p>After completing a series of user interviews, I gathered several valuable insights:</p>
                        <ul class="bullets">
                          <li>Users would benefit from being offered the choice to explore topics and comments in more depth following an initial presentation of headline information</li>
                          <li>The enhancement of feedback information quality presented to users must align with their capacity to effectively utilise and act upon it</li>
                          <li>The outputs should effectively convey key aspects such as sentiment, volume, and context through the strategic use of color, proportional representation, and illustrative quotations</li>
                        </ul>
                      </div>
                    </div>

                  <div class="row">
                    <div class="3u">
                      <h4>Data analysis</h4>
                    </div>
                    <div class="9u">
                      <p>Due to the diverse origins of GOV.UK feedback, the data exhibits a high level of inconsistency, necessitating a thorough and detailed analysis on my part.</p>
                      <ul class="bullets">
                        <li>There are six primary sources of feedback, each featuring distinct mechanisms for user input</li>
                        <li>Spam is a problem making it difficult to distinguish manually due to the sheer volume of feedback</li>
                        <li>The absence of categorisation in feedback poses challenges in efficiently assessing and interpreting the responses</li>
                      </ul>
                    </div>
                  </div>

                <header class="special">
                  <span class="icon fas fa-pencil-ruler"></span>
                  <h2>Define</h2>
                </header>

                <div class="row">
                  <div class="12u">
                    <h3>Problem statement</h3>
                    <p>The overwhelming volume of feedback data from various GOV.UK online sources, approximately 200,000 records monthly, presents a significant challenge in terms of manageability and analysis. The process of scrutinising this unsorted feedback is not only time-consuming but also incurs substantial costs due to its extensive nature and the lack of categorisation, making the extraction of pertinent user feedback a resource-heavy task.</p>
                    <p>To tackle these issues, the Data Insights Team has innovatively developed a Natural Language Processing (NLP) pipeline. This advanced solution is designed to streamline the feedback management process by centralising the feedback data from diverse sources. It efficiently automates the classification of feedback into distinct topics, enhancing the ease of navigating through the data. Additionally, the pipeline is equipped with a mechanism to detect and filter out spam records, thereby ensuring data integrity. Furthermore, it incorporates a feature to assess the sentiment of the feedback, providing valuable insights into user perceptions and experiences.</p>
                  </div>
                </div>

                <div class="row">
                  <div class="12u">
                    <h3>User needs</h3>
                    <ul class="bullets">
                      <li>I need actionable feedback information</li>
                      <li>I need to know the causes behind the numbers</li>
                      <li>I need the to base decisions on at least a year's worth of data to avoid issure relating to seasonality</li>
                      <li>I need to know what specifically is confusing on GOV.UK pages</li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="12u">
                    <h3>User journeys</h3>
                </div>

              </div>


              <div class="image feature">
                <img src="images/mindmap.png" alt="mindmap image">
              </div>
              <div class="image feature">
                <img src="images/ideas.png" alt="ideas image">
              </div>

              <header class="special">
                <span class="icon fas fa-drafting-compass"></span>
                <h2>Design</h2>
              </header>

              <div class="row">
                <div class="12u">
                  <h3>Prototypes</h3>
                </div>
              </div>



              <div class="row">
                <div class="3u">
                  <h4>High Fidelity Prototypes</h4>
                </div>
                <div class="9u">
                  <p>Using the GDS prototyping kit and Chart.js</p>
                  <div class="image feature">
                    <img src="images/journeys.png" alt="journeys image">
                  </div>

                </div>
              </div>

              <header class="special">
                <span class="icon fas fa-vials"></span>
                <h2>Test</h2>
              </header>

              <div class="row">
                <div class="3u">
                  <h3>Method</h3>
                </div>
                <div class="9u">
                  <h3>Discoveries</h3>
                </div>
              </div>

              <div class="row">
                <div class="3u">
                  <p>Usability testing</p>
                </div>
                <div class="9u">
                  <ul class="bullets">
                    <li>The terminology used in labels requires refinement, as users are facing difficulties in comprehending the various sources and understanding terms like 'Run ID' and 'topic analysis'</li>
                    <li>Users indicated a preference for specifying their own time frame using tools such as a date picker or a similar feature</li>
                    <li>Some users reported confusion regarding the distinction between 'advanced' and 'explore' options, as they appeared too similar in functionality or purpose</li>
                    <li>There is a user need for the ability to view feedback metrics both on individual pages and in an overall summary format</li>
                    <li>Some users expressed a desire to have the capability to view and compare data from previous months</li>
                    <li>Overall, users displayed a notable interest and enthusiasm towards the prototype</li>
                    <li>One user said:  "I love this, when can we have it!"
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="12u">
                  <h3>Next steps ..</h3>
                  <ul class="bullets">
                    <li>Leveraging the insights gained from this planning phase, the next steps involve designing and building the subsequent iteration</li>
                    <li>Initiate the process of extracting categories from the data using Natural Language Processing (NLP) techniques</li>
                    <li>Outline our strategy to develop a Minimum Viable Product (MVP)</li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="12u">
                  <h3>What I learned</h3>
                  <p style="margin-bottom:10px">Reflecting on this project I learned a few things:</p>
                  <ul class="bullets">
                    <li>Utilise realistic data and narratives as much as possible instead of placeholder text like 'lorem ipsum', as users tend to concentrate more on the actual content rather than the underlying concepts.</li>
                    <li>Artificial Intelligence is a permanent fixture in our technological landscape, and adapting to its presence and capabilities is essential</li>
                    <li>When applied correctly, Artificial Intelligence proves to be an incredibly useful tool</li>
                  </ul>
                </div>
              </div>

              </section>
            </div>
          </div>
        </div>
      </section>

  <%- include('../partials/footer'); -%>

  <script type="text/javascript">
    var images = ['bridge2.jpg', 'shoes.jpg', 'grass.jpg', 'flower.jpg', 'fountain.jpg', 'bridge.jpg', 'leaf.jpg', 'trees.jpg'];

    $('#banner')
    .css('background-image', 'url(css/images/overlay.png), url(images/' + images[Math.floor(Math.random() * images.length)] + ')');
  </script>


</body>
</html>
